:root{
    --globalvariable: #ffffff;
    --globalvariable2: 15px;
}

body {
    background-color: var(--globalvariable);
}

.classname {
    --localvariable: #ff0000;
    color: var(--localvariable);
    background-color: var(--globalvariable);
    font-size: var(--globalvariable2);
    border: var(--globalvariable2) solid var(--localvariable) ;
}

.classname2 {
    color: var(--localvariable);
}